<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
		<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/main.css">
		<title>FOODMAQ</title>
</head>
<body>
	<header class="home">
		<div class="container-fluid">
			<div class="row box-home-foodmaq">
				<a href="../index.html" class="back">
					<i class="fa fa-arrow-left" aria-hidden="true"></i>
				</a>
				<h1 class="text-center home-foodmaq">Foodmap</h1>
				<div class="box-line ">
						<img class="line" src="../assets/img/line.png" alt="Line">
				</div>
			</div>
		</div>
	</header>
	<section>
		<div class="text-center map">
				<div id="map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d15603.080797305964!2d-77.0259275572247!3d-12.127869677817198!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1srestaurantes+en+miraflores!5e0!3m2!1ses!2spe!4v1514848898738" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
		</div>
	</section>
	<section>
      <div class="container-fluid">
        <h2 class="text-center subtitle">Comida cerca de ti</h2>
        <div class="box-select text-center">
          <select class="select-type">
            <option value="todos" class="all-options">Que antojo tienes hoy</option>
          </select>
        </div>
        <div id="content-card">
				</div>
				<div class="text-center img-food">
					<a href="../views/comida_peruana.html"><img class="food-images" src="../assets/img/img-1.png" alt=""></a>
					<a href="../views/comida_italiana.html"></a><img class="food-images" src="../assets/img/img-2.png" alt=""></a>
					<a href="../views/comida_mexicana.html"></a><img class="food-images" src="../assets/img/img-3.png" alt=""></a>
				</div>
      </div>
    </section>

		<script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
		<script src="../vendors/bootstrap/js/bootstrap.js"></script>
		<script src="../js/data-food.js"></script>
		<script src="../js/home."></script>
		<script src="../js/app.js"></script>


</body>
</html>
